annotated-doc
annotated-types
anyio
certifi
click
distro
fastapi
h11
httpcore
httptools
httpx
idna
jiter
openai
pip
pydantic
pydantic_core
python-dotenv
PyYAML
sniffio
starlette
tqdm
typing_extensions
typing-inspection
uvicorn
uvloop
watchfiles
websockets